# Nutrition Database Transformation

In [199]:
# Dependencies
import pandas as pd
import numpy as np

In [200]:
# Path to the CSV files
mcdonalds_csv = 'resources/mcdonalds.csv'
subway_csv = 'resources/subway.csv'
starbucks_drinks_csv = 'resources/starbucks_menu_drink.csv'
starbucks_food_csv = 'resources/starbucks_menu_food.csv'

In [201]:
# Create the IDs data frame for the restaurant names

data = [[1000,'mcdonalds'], [2000, 'subway'], [3000, 'starbucks']]
restaurant_id = pd.DataFrame(data, columns = ['id', 'name'])

# Display the new data frame

restaurant_id

     id       name
0  1000  mcdonalds
1  2000     subway
2  3000  starbucks

In [202]:
# Export data frame to csv file

restaurant_id.to_csv('database/restaurants.csv', index = False, header=True)

# Cleaning Process

## McDonalds DataFrame

In [203]:
# Read file (McDonalds information)

mcdonalds_df = pd.read_csv(mcdonalds_csv)
mcdonalds_df.head()

,Category,Item,Serving Size,Calories,Calories from Fat,Total Fat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [204]:
# Add Restaurant ID Column to the data frame

mcdonalds_df['Restaurant ID'] = 1000
mcdonalds_df['Category ID'] = 1
mcdonalds_df['Item ID'] = 1

In [205]:
# Reorganize the columns

mcdonalds_df = mcdonalds_df[['Restaurant ID','Category ID','Item ID',
       'Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
       'Total Fat', 'Total Fat (% Daily Value)', 'Saturated Fat',
       'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
       'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
       'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
       'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
       'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)']]

In [206]:
# Rename the columns
mcdonalds_df = mcdonalds_df.rename(columns = {'Serving Size':'Serving Size (oz)','Total Fat':'Total Fat (g)', 'Saturated Fat':'Saturated Fat (g)','Trans Fat':'Trans Fat (g)', 'Cholesterol':'Cholesterol (mg)',
       'Sodium' : 'Sodium (mg)', 'Carbohydrates' : 'Carbohydrates (g)', 'Dietary Fiber' : 'Dietary Fiber (g)',
       'Sugars': 'Sugars (g)' , 'Protein': 'Protein (g)'})

# Display the data frame to visualize the changes

mcdonalds_df.head()

,Restaurant ID,Category ID,Item ID,Category,Item,Serving Size (oz),Calories,Calories from Fat,Total Fat (g),Total Fat (% Daily Value),...,Carbohydrates (g),Carbohydrates (% Daily Value),Dietary Fiber (g),Dietary Fiber (% Daily Value),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,1000,1,1,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,...,31,10,4,17,3,17,10,0,25,15
1,1000,1,1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,...,30,10,4,17,3,18,6,0,25,8
2,1000,1,1,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,...,29,10,4,17,2,14,8,0,25,10
3,1000,1,1,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,...,30,10,4,17,2,21,15,0,30,15
4,1000,1,1,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,...,30,10,4,17,2,21,6,0,25,10

In [207]:
# Reordering columns and dropping original "serving size" column
mcdonalds_df = mcdonalds_df[['Restaurant ID', 'Category ID','Item ID','Category', 'Item', 'Serving Size (oz)', 'Calories',
       'Calories from Fat', 'Total Fat (g)', 'Total Fat (% Daily Value)',
       'Saturated Fat (g)', 'Saturated Fat (% Daily Value)', 'Trans Fat (g)',
       'Cholesterol (mg)', 'Cholesterol (% Daily Value)', 'Sodium (mg)',
       'Sodium (% Daily Value)', 'Carbohydrates (g)',
       'Carbohydrates (% Daily Value)', 'Dietary Fiber (g)',
       'Dietary Fiber (% Daily Value)', 'Sugars (g)', 'Protein (g)',
       'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)']]

mcdonalds_df.head()

,Restaurant ID,Category ID,Item ID,Category,Item,Serving Size (oz),Calories,Calories from Fat,Total Fat (g),Total Fat (% Daily Value),...,Carbohydrates (g),Carbohydrates (% Daily Value),Dietary Fiber (g),Dietary Fiber (% Daily Value),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,1000,1,1,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,...,31,10,4,17,3,17,10,0,25,15
1,1000,1,1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,...,30,10,4,17,3,18,6,0,25,8
2,1000,1,1,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,...,29,10,4,17,2,14,8,0,25,10
3,1000,1,1,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,...,30,10,4,17,2,21,15,0,30,15
4,1000,1,1,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,...,30,10,4,17,2,21,6,0,25,10

In [208]:
# Identifying the number of rows that have "carton"
carton_to_change = mcdonalds_df.loc[mcdonalds_df['Serving Size (oz)'].str.contains('carton')].index
carton_to_change

Int64Index([130, 131], dtype='int64')

In [209]:
# Stripping parentheses from "1 carton" values
mcdonalds_df.iloc[carton_to_change, 5]=mcdonalds_df.iloc[carton_to_change, 5].apply(lambda x:x.split(' ')[2])
mcdonalds_df.iloc[carton_to_change, 5]

130    (236
131    (236
Name: Serving Size (oz), dtype: object

In [210]:
# Stripping parentheses from "1 carton" values
mcdonalds_df.iloc[carton_to_change, 5]=mcdonalds_df.iloc[carton_to_change, 5].apply(lambda x:x.replace('(',''))
mcdonalds_df.iloc[carton_to_change, 5]

130    236
131    236
Name: Serving Size (oz), dtype: object

In [211]:
# Converting cartons (ml) into ounces
mcdonalds_df.iloc[carton_to_change, 5]=mcdonalds_df.iloc[carton_to_change, 5].apply(lambda g:float(g) * 0.033814)
mcdonalds_df.iloc[carton_to_change, 5]

130    7.9801
131    7.9801
Name: Serving Size (oz), dtype: object

In [212]:
# Identifying the number of rows that have "cookie"
cookie_to_change = mcdonalds_df[mcdonalds_df['Serving Size (oz)'].str.contains('cookie')==True].index
cookie_to_change

Int64Index([104, 105], dtype='int64')

In [213]:
# Stripping parentheses from "1 cookie" values
mcdonalds_df.iloc[cookie_to_change, 5]=mcdonalds_df.iloc[cookie_to_change, 5].apply(lambda x:x.split(' ')[2])
mcdonalds_df.iloc[cookie_to_change, 5]

104    (33
105    (33
Name: Serving Size (oz), dtype: object

In [214]:
# Stripping parentheses from "1 cookie" values
mcdonalds_df.iloc[cookie_to_change, 5]=mcdonalds_df.iloc[cookie_to_change, 5].apply(lambda x:x.replace('(',''))
mcdonalds_df.iloc[cookie_to_change, 5]

104    33
105    33
Name: Serving Size (oz), dtype: object

In [215]:
# Converting cookies (g) into ounces
mcdonalds_df.iloc[cookie_to_change, 5]=mcdonalds_df.iloc[cookie_to_change, 5].apply(lambda g:float(g) * 0.035274)
mcdonalds_df.iloc[cookie_to_change, 5]

104    1.16404
105    1.16404
Name: Serving Size (oz), dtype: object

In [216]:
# Identifying the number of rows that have "oz"
ounces_to_change = mcdonalds_df.loc[mcdonalds_df['Serving Size (oz)'].str.contains('oz')==True].index
ounces_to_change

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            250, 251, 252, 253, 254, 255, 256, 257, 258, 259],
           dtype='int64', length=256)

In [217]:
# Stripping text from serving size columns
mcdonalds_df.iloc[ounces_to_change, 5]=mcdonalds_df.iloc[ounces_to_change, 5].apply(lambda x:x.split(' ')[0])
mcdonalds_df.iloc[ounces_to_change, 5]

0       4.8
1       4.8
2       3.9
3       5.7
4       5.7
       ...
255    10.1
256    13.4
257     6.7
258    14.2
259     7.1
Name: Serving Size (oz), Length: 256, dtype: object

In [218]:
# Checking to make sure all text has been stripped from serving size

mcdonalds_df['Serving Size (oz)']=mcdonalds_df['Serving Size (oz)'].astype(float)
mcdonalds_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Restaurant ID                  260 non-null    int64
 1   Category ID                    260 non-null    int64
 2   Item ID                        260 non-null    int64
 3   Category                       260 non-null    object
 4   Item                           260 non-null    object
 5   Serving Size (oz)              260 non-null    float64
 6   Calories                       260 non-null    int64
 7   Calories from Fat              260 non-null    int64
 8   Total Fat (g)                  260 non-null    float64
 9   Total Fat (% Daily Value)      260 non-null    int64
 10  Saturated Fat (g)              260 non-null    float64
 11  Saturated Fat (% Daily Value)  260 non-null    int64
 12  Trans Fat (g)                  260 non-null    float64
 13  Cholesterol (mg)               260 non-null    int64
 14  Cholesterol (% Daily Value)    260 non-null    int64
 15  Sodium (mg)                    260 non-null    int64
 16  Sodium (% Daily Value)         260 non-null    int64
 17  Carbohydrates (g)              260 non-null    int64
 18  Carbohydrates (% Daily Value)  260 non-null    int64
 19  Dietary Fiber (g)              260 non-null    int64
 20  Dietary Fiber (% Daily Value)  260 non-null    int64
 21  Sugars (g)                     260 non-null    int64
 22  Protein (g)                    260 non-null    int64
 23  Vitamin A (% Daily Value)      260 non-null    int64
 24  Vitamin C (% Daily Value)      260 non-null    int64
 25  Calcium (% Daily Value)        260 non-null    int64
 26  Iron (% Daily Value)           260 non-null    int64
dtypes: float64(4), int64(21), object(2)
memory usage: 55.0+ KB

## Subway DataFrame

In [219]:
# Read file (Subway Information)

subway_df = pd.read_csv(subway_csv)
subway_df.head()

,Unnamed: 0,Category,Serving Size (g),Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Carbohydrates (g),Dietary Fiber (g),Sugars (g),Protein (g),Vitamin A % DV,Vitamin C % DV,Calcium % DV,Iron % DV
0,BBQ Rib,Sandwich,208,580,31.0,10.0,0.0,60,1260,54,3,18,21,8,4,4,20
1,Black Forest Ham,Sandwich,219,260,4.0,1.5,0.0,30,720,42,5,8,18,30,15,4,15
2,Chicken & Bacon Ranch Melt,Sandwich,284,530,26.0,10.0,0.5,100,1100,41,3,6,36,40,25,20,20
3,Chicken Mango Curry,Sandwich,234,330,7.0,1.5,0.0,50,840,43,3,9,24,15,20,2,25
4,Chicken Tikka,Sandwich,205,290,5.0,1.0,0.0,50,720,39,2,6,23,10,10,0,25

In [220]:
# Add ID Columns to the data frame (Restaurant, Category, Item)

subway_df['Restaurant ID'] = 2000

In [221]:
# Rename the column names

subway_df = subway_df.rename(columns = {'Unnamed: 0':'Item', 'Vitamin A % DV':'Vitamin A (% Daily Value)',
                                        'Vitamin C % DV':'Vitamin C (% Daily Value)',
                                        'Calcium % DV':'Calcium (% Daily Value)', 'Iron % DV':'Iron (% Daily Value)'})
                                        

# Display the data frame to visualize the changes 
subway_df.head()

,Item,Category,Serving Size (g),Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Carbohydrates (g),Dietary Fiber (g),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value),Restaurant ID
0,BBQ Rib,Sandwich,208,580,31.0,10.0,0.0,60,1260,54,3,18,21,8,4,4,20,2000
1,Black Forest Ham,Sandwich,219,260,4.0,1.5,0.0,30,720,42,5,8,18,30,15,4,15,2000
2,Chicken & Bacon Ranch Melt,Sandwich,284,530,26.0,10.0,0.5,100,1100,41,3,6,36,40,25,20,20,2000
3,Chicken Mango Curry,Sandwich,234,330,7.0,1.5,0.0,50,840,43,3,9,24,15,20,2,25,2000
4,Chicken Tikka,Sandwich,205,290,5.0,1.0,0.0,50,720,39,2,6,23,10,10,0,25,2000

In [222]:
subway_df.columns

Index(['Item', 'Category', 'Serving Size (g)', 'Calories', 'Total Fat (g)',
       'Saturated Fat (g)', 'Trans Fat (g)', 'Cholesterol (mg)', 'Sodium (mg)',
       'Carbohydrates (g)', 'Dietary Fiber (g)', 'Sugars (g)', 'Protein (g)',
       'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)', 'Restaurant ID'],
      dtype='object')

In [223]:
# Reorganized the columns

subway_df = subway_df[['Restaurant ID',
       'Category', 'Item', 'Serving Size (g)', 'Calories',
       'Total Fat (g)', 'Saturated Fat (g)', 'Trans Fat (g)', 'Cholesterol (mg)',
       'Sodium (mg)', 'Carbohydrates (g)', 'Dietary Fiber (g)', 'Sugars (g)',
       'Protein (g)', 'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)']]

subway_df.head()

,Restaurant ID,Category,Item,Serving Size (g),Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Carbohydrates (g),Dietary Fiber (g),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,2000,Sandwich,BBQ Rib,208,580,31.0,10.0,0.0,60,1260,54,3,18,21,8,4,4,20
1,2000,Sandwich,Black Forest Ham,219,260,4.0,1.5,0.0,30,720,42,5,8,18,30,15,4,15
2,2000,Sandwich,Chicken & Bacon Ranch Melt,284,530,26.0,10.0,0.5,100,1100,41,3,6,36,40,25,20,20
3,2000,Sandwich,Chicken Mango Curry,234,330,7.0,1.5,0.0,50,840,43,3,9,24,15,20,2,25
4,2000,Sandwich,Chicken Tikka,205,290,5.0,1.0,0.0,50,720,39,2,6,23,10,10,0,25

In [224]:
# Convert grams to ounces
subway_df.iloc[:,3]=subway_df.iloc[:,3].apply(lambda g:float(g) * 0.035274)
subway_df.iloc[:,3]

0       7.336992
1       7.725006
2      10.017816
3       8.254116
4       7.231170
         ...
130     0.246918
131     0.246918
132     1.234590
133     0.529110
134     0.035274
Name: Serving Size (g), Length: 135, dtype: float64

In [225]:
subway_df = subway_df.rename(columns = {'Serving Size (g)':'Serving Size (oz)'})

In [226]:
subway_df.head()

,Restaurant ID,Category,Item,Serving Size (oz),Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Carbohydrates (g),Dietary Fiber (g),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,2000,Sandwich,BBQ Rib,7.336992,580,31.0,10.0,0.0,60,1260,54,3,18,21,8,4,4,20
1,2000,Sandwich,Black Forest Ham,7.725006,260,4.0,1.5,0.0,30,720,42,5,8,18,30,15,4,15
2,2000,Sandwich,Chicken & Bacon Ranch Melt,10.017816,530,26.0,10.0,0.5,100,1100,41,3,6,36,40,25,20,20
3,2000,Sandwich,Chicken Mango Curry,8.254116,330,7.0,1.5,0.0,50,840,43,3,9,24,15,20,2,25
4,2000,Sandwich,Chicken Tikka,7.231170,290,5.0,1.0,0.0,50,720,39,2,6,23,10,10,0,25

In [227]:
# Concatenate 'Item' and 'Category' columns

subway_df['Item'] = subway_df['Item'] + '-' + subway_df['Category']

In [228]:
subway_df.head()

,Restaurant ID,Category,Item,Serving Size (oz),Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Carbohydrates (g),Dietary Fiber (g),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,2000,Sandwich,BBQ Rib-Sandwich,7.336992,580,31.0,10.0,0.0,60,1260,54,3,18,21,8,4,4,20
1,2000,Sandwich,Black Forest Ham-Sandwich,7.725006,260,4.0,1.5,0.0,30,720,42,5,8,18,30,15,4,15
2,2000,Sandwich,Chicken & Bacon Ranch Melt-Sandwich,10.017816,530,26.0,10.0,0.5,100,1100,41,3,6,36,40,25,20,20
3,2000,Sandwich,Chicken Mango Curry-Sandwich,8.254116,330,7.0,1.5,0.0,50,840,43,3,9,24,15,20,2,25
4,2000,Sandwich,Chicken Tikka-Sandwich,7.231170,290,5.0,1.0,0.0,50,720,39,2,6,23,10,10,0,25

## Starbucks Drinks DataFrame

In [229]:
# Read file (Starbucks Drinks)

starbucks_drinks_df = pd.read_csv(starbucks_drinks_csv)
starbucks_drinks_df

,Beverage_category,Beverage,Beverage_prep,Calories,Total Fat (g),Trans Fat (g),Saturated Fat (g),Sodium (mg),Total Carbohydrates (g),Cholesterol (mg),Dietary Fibre (g),Sugars (g),Protein (g),Vitamin A (% DV),Vitamin C (% DV),Calcium (% DV),Iron (% DV),Caffeine (mg)
0,Coffee,Brewed Coffee,Short Coffee,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0%,0%,0%,0%,175
1,Coffee,Brewed Coffee,Tall Coffee,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0%,0%,0%,0%,260
2,Coffee,Brewed Coffee,Grande Coffee,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,0%,0%,330
3,Coffee,Brewed Coffee,Venti Coffee,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0%,0%,2%,0%,410
4,Classic Espresso Drinks,Caffè Latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10%,0%,20%,0%,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream),Venti Soymilk,320,3 2,0.4,0.0,0,250,67,1,64,5.0,6%,8%,20%,10%,0
238,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Tall Nonfat Milk,170,0.1,0.1,0.0,0,160,39,0,38,4.0,6%,0%,10%,0%,0
239,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Tall Whole Milk,200,3.5,2.0,0.1,10,160,39,0,38,3.0,6%,0%,10%,0%,0
240,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Tall Soymilk,180,1.5,0.2,0.0,0,160,37,1,35,3.0,4%,0%,10%,6%,0
241,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream),Grande Nonfat Milk,240,0.1,0.1,0.0,5,230,56,0,55,5.0,8%,0%,15%,0%,0

In [230]:
# Add Restaurant ID Column to the data frame

starbucks_drinks_df['Restaurant ID'] = 3000

In [231]:
# Concatenate 'Beverage' and 'Beverage_prep' columns

starbucks_drinks_df['Beverage'] = starbucks_drinks_df['Beverage'] + "-" + starbucks_drinks_df['Beverage_prep']

In [232]:
# Rename the columns (Standardize column names)
starbucks_drinks_df = starbucks_drinks_df.rename(columns={'Beverage_category':'Category', 'Beverage':'Item', ' Total Carbohydrates (g) ':'Carbohydrates (g)',
                                   'Dietary Fibre (g)' : 'Dietary Fiber (g)', 'Vitamin A (% DV)' : 'Vitamin A (% Daily Value)',
                                   'Vitamin C (% DV)' : 'Vitamin C (% Daily Value)' , ' Calcium (% DV) ':'Calcium (% Daily Value)', 'Iron (% DV) ' : 'Iron (% Daily Value)'})

In [233]:
# Remove white spaces from the column names

starbucks_drinks_df = starbucks_drinks_df.rename(columns = {' Total Fat (g)':'Total Fat (g)',
       'Trans Fat (g) ' : 'Trans Fat (g)',' Sodium (mg)' : 'Sodium (mg)',
       ' Dietary Fibre (g)': 'Dietary Fiber (g)',
       ' Sugars (g)': 'Sugars (g)', ' Protein (g) ':'Protein (g)', 'Vitamin A (% DV) ': 'Vitamin A (% Daily Value)'})

In [234]:
# Reorganize the columns 

starbucks_drinks_df = starbucks_drinks_df[['Restaurant ID', 'Category', 'Item', 'Calories','Total Fat (g)', 'Saturated Fat (g)', 'Trans Fat (g)',
      'Cholesterol (mg)', 'Sodium (mg)', 'Carbohydrates (g)','Dietary Fiber (g)', 'Sugars (g)', 'Protein (g)','Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)','Calcium (% Daily Value)', 'Iron (% Daily Value)']]

# Display the data frame to visualize the changes

starbucks_drinks_df.head(50)

,Restaurant ID,Category,Item,Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Carbohydrates (g),Dietary Fiber (g),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,3000,Coffee,Brewed Coffee-Short Coffee,3,0.1,0.0,0.0,0,0,5,0,0,0.3,0%,0%,0%,0%
1,3000,Coffee,Brewed Coffee-Tall Coffee,4,0.1,0.0,0.0,0,0,10,0,0,0.5,0%,0%,0%,0%
2,3000,Coffee,Brewed Coffee-Grande Coffee,5,0.1,0.0,0.0,0,0,10,0,0,1.0,0%,0%,0%,0%
3,3000,Coffee,Brewed Coffee-Venti Coffee,5,0.1,0.0,0.0,0,0,10,0,0,1.0,0%,0%,2%,0%
4,3000,Classic Espresso Drinks,Caffè Latte-Short Nonfat Milk,70,0.1,0.0,0.1,10,5,75,0,9,6.0,10%,0%,20%,0%
5,3000,Classic Espresso Drinks,Caffè Latte-Short 2% Milk,100,3.5,0.1,2.0,10,15,85,0,9,6.0,10%,0%,20%,0%
6,3000,Classic Espresso Drinks,Caffè Latte-Short Soymilk,70,2.5,0.0,0.4,6,0,65,1,4,5.0,6%,0%,20%,8%
7,3000,Classic Espresso Drinks,Caffè Latte-Tall Nonfat Milk,100,0.2,0.0,0.2,15,5,120,0,14,10.0,15%,0%,30%,0%
8,3000,Classic Espresso Drinks,Caffè Latte-Tall 2% Milk,150,6,0.2,3.0,15,25,135,0,14,10.0,15%,0%,30%,0%
9,3000,Classic Espresso Drinks,Caffè Latte-Tall Soymilk,110,4.5,0.0,0.5,10,0,105,1,6,8.0,10%,0%,30%,15%
10,3000,Classic Espresso Drinks,Caffè Latte-Grande Nonfat Milk,130,0.3,0.0,0.2,19,5,150,0,18,13.0,20%,0%,40%,0%
11,3000,Classic Espresso Drinks,Caffè Latte-Grande 2% Milk,190,7,0.2,3.5,19,30,170,0,17,12.0,20%,2%,40%,0%
12,3000,Classic Espresso Drinks,Caffè Latte-Grande Soymilk,150,5,0.0,0.5,13,0,130,1,8,10.0,15%,0%,40%,15%
13,3000,Classic Espresso Drinks,Caffè Latte-Venti Nonfat Milk,170,0.4,0.0,0.3,25,10,190,0,23,16.0,30%,0%,50%,0%
14,3000,Classic Espresso Drinks,Caffè Latte-Venti 2% Milk,240,9,0.3,4.5,24,35,220,0,22,16.0,25%,2%,50%,0%
15,3000,Classic Espresso Drinks,Caffè Latte-Venti Soymilk,190,7,0.0,1.0,16,0,170,2,11,13.0,20%,0%,50%,25%
16,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Short Nonf...,110,1.5,0.0,1.0,21,5,60,1,17,7.0,8%,0%,15%,10%
17,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Short 2% Milk,130,4,0.1,2.0,21,10,70,1,17,6.0,8%,0%,15%,10%
18,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Short Soymilk,110,3.5,0.0,1.0,19,0,55,2,13,6.0,6%,0%,15%,20%
19,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Tall Nonfa...,170,2,0.0,1.0,32,5,100,1,27,10.0,15%,0%,25%,20%
20,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Tall 2% Milk,200,6,0.1,3.5,32,20,115,1,26,10.0,15%,0%,25%,20%
21,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Tall Soymilk,180,5,0.0,1.5,28,0,85,2,20,9.0,10%,0%,25%,30%
22,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Grande Non...,220,2.5,0.0,1.5,43,5,125,2,34,13.0,20%,0%,35%,25%
23,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Grande 2%...,260,8,0.2,4.5,42,25,140,2,34,13.0,15%,2%,35%,25%
24,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Grande So...,230,7,0.0,2.0,37,0,105,3,26,11.0,10%,0%,35%,40%
25,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Venti Nonf...,280,3,0.0,2.0,54,10,160,2,44,17.0,25%,0%,45%,30%
26,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Venti 2% Milk,340,11,0.2,6.0,53,30,180,2,43,17.0,20%,2%,45%,30%
27,3000,Classic Espresso Drinks,Caffè Mocha (Without Whipped Cream)-Venti Soymilk,290,9,0.0,2.5,47,0,140,4,33,14.0,15%,0%,45%,50%
28,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Short...,100,0.1,0.0,0.1,19,5,70,0,18,6.0,10%,0%,20%,0%
29,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Short...,130,3.5,0.1,1.5,18,15,80,0,17,6.0,10%,0%,20%,0%
30,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Short...,110,2.5,0.0,0.3,16,0,60,1,13,5.0,6%,0%,20%,8%
31,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Tall ...,150,0.2,0.0,0.1,28,5,110,0,27,9.0,15%,0%,30%,0%
32,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Tall ...,200,5,0.2,2.5,28,20,125,0,27,9.0,15%,0%,30%,0%
33,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Tall ...,160,4,0.0,0.5,23,0,95,1,20,7.0,10%,0%,30%,15%
34,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Grand...,200,0.3,0.0,0.2,37,5,140,0,35,12.0,20%,0%,35%,0%
35,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Grand...,250,6,0.2,3.5,37,25,150,0,35,12.0,20%,2%,35%,0%
36,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Grand...,210,5,0.0,0.5,31,0,120,1,26,9.0,10%,0%,35%,15%
37,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Venti...,250,0.3,0.0,0.2,47,10,180,0,45,15.0,25%,0%,50%,0%
38,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Venti...,320,9,0.3,4.5,46,35,200,0,44,15.0,25%,2%,45%,0%
39,3000,Classic Espresso Drinks,Vanilla Latte (Or Other Flavoured Latte)-Venti...,270,7,0.0,1.0,39,0,160,2,33,12.0,15%,0%,45%,20%
40,3000,Classic Espresso Drinks,Caffè Americano-Short,5,0,0.0,0.0,1,0,5,0,0,0.4,0%,0%,0%,0%
41,3000,Classic Espresso Drinks,Caffè Americano-Tall,10,0,0.0,0.0,2,0,10,0,0,1.0,0%,0%,2%,0%
42,3000,Classic Espresso Drinks,Caffè Americano-Grande,15,0,0.0,0.0,3,0,15,0,0,1.0,0%,0%,2%,0%
43,3000,Classic Espresso Drinks,Caffè Americano-Venti,25,0,0.0,0.0,4,0,15,0,0,1.0,0%,0%,2%,0%
44,3000,Classic Espresso Drinks,Cappuccino-Short Nonfat Milk,50,0.1,0.0,0.1,8,5,60,0,7,5.0,8%,0%,15%,0%
45,3000,Classic Espresso Drinks,Cappuccino-Short 2% Milk,80,3,0.1,1.5,8,10,70,0,7,5.0,8%,0%,15%,0%
46,3000,Classic Espresso Drinks,Cappuccino-Short Soymilk,50,1.5,0.0,0.2,4,0,40,0,3,3.0,4%,0%,10%,6%
47,3000,Classic Espresso Drinks,Cappuccino-Tall Nonfat Milk,60,0.1,0.0,0.1,9,5,70,0,8,6.0,10%,0%,20%,0%
48,3000,Classic Espresso Drinks,Cappuccino-Tall 2% Milk,90,3.5,0.1,1.5,9,15,80,0,8,6.0,10%,0%,20%,0%
49,3000,Classic Espresso Drinks,Cappuccino-Tall Soymilk,70,3,0.0,0.4,7,0,65,1,4,5.0,6%,0%,20%,8%

In [235]:
# Removing the percentage signs frmo the vitamin, calcium, and iron columns

starbucks_drinks_df['Vitamin A (% Daily Value)'] = starbucks_drinks_df['Vitamin A (% Daily Value)'].str.strip('%').astype(int)
starbucks_drinks_df['Vitamin C (% Daily Value)'] = starbucks_drinks_df['Vitamin C (% Daily Value)'].str.strip('%').astype(int)
starbucks_drinks_df['Calcium (% Daily Value)'] = starbucks_drinks_df['Calcium (% Daily Value)'].str.strip('%').astype(int)
starbucks_drinks_df['Iron (% Daily Value)'] = starbucks_drinks_df['Iron (% Daily Value)'].str.strip('%').astype(float)

starbucks_drinks_df.head()

,Restaurant ID,Category,Item,Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Carbohydrates (g),Dietary Fiber (g),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,3000,Coffee,Brewed Coffee-Short Coffee,3,0.1,0.0,0.0,0,0,5,0,0,0.3,0,0,0,0.0
1,3000,Coffee,Brewed Coffee-Tall Coffee,4,0.1,0.0,0.0,0,0,10,0,0,0.5,0,0,0,0.0
2,3000,Coffee,Brewed Coffee-Grande Coffee,5,0.1,0.0,0.0,0,0,10,0,0,1.0,0,0,0,0.0
3,3000,Coffee,Brewed Coffee-Venti Coffee,5,0.1,0.0,0.0,0,0,10,0,0,1.0,0,0,2,0.0
4,3000,Classic Espresso Drinks,Caffè Latte-Short Nonfat Milk,70,0.1,0.0,0.1,10,5,75,0,9,6.0,10,0,20,0.0

In [236]:
# The iron column has some values with decimal places and some without, so extra steps here to fix that

starbucks_drinks_df['Iron (% Daily Value)'] = starbucks_drinks_df['Iron (% Daily Value)'].round(0).astype(int)

starbucks_drinks_df.head()

,Restaurant ID,Category,Item,Calories,Total Fat (g),Saturated Fat (g),Trans Fat (g),Cholesterol (mg),Sodium (mg),Carbohydrates (g),Dietary Fiber (g),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,3000,Coffee,Brewed Coffee-Short Coffee,3,0.1,0.0,0.0,0,0,5,0,0,0.3,0,0,0,0
1,3000,Coffee,Brewed Coffee-Tall Coffee,4,0.1,0.0,0.0,0,0,10,0,0,0.5,0,0,0,0
2,3000,Coffee,Brewed Coffee-Grande Coffee,5,0.1,0.0,0.0,0,0,10,0,0,1.0,0,0,0,0
3,3000,Coffee,Brewed Coffee-Venti Coffee,5,0.1,0.0,0.0,0,0,10,0,0,1.0,0,0,2,0
4,3000,Classic Espresso Drinks,Caffè Latte-Short Nonfat Milk,70,0.1,0.0,0.1,10,5,75,0,9,6.0,10,0,20,0

## Starbucks Food DataFrame

In [237]:
# Read file (Starbucks Food)

starbucks_food_df = pd.read_csv(starbucks_food_csv)
starbucks_food_df

,Unnamed: 0,Category,Calories,Fat (g),Carb. (g),Fiber (g),Protein (g)
0,Chonga Bagel,Breakfast,300,5.0,50,3,12
1,8-Grain Roll,Breakfast,380,6.0,70,7,10
2,Almond Croissant,Breakfast,410,22.0,45,3,10
3,Apple Fritter,Breakfast,460,23.0,56,2,7
4,Banana Nut Bread,Breakfast,420,22.0,52,2,6
...,...,...,...,...,...,...,...
108,Justin's Chocolate Hazelnut Butter,Other Food,180,14.0,12,3,4
109,Justin's Classic Almond Butter,Other Food,190,18.0,6,3,7
110,Lemon Chiffon Yogurt,Breakfast,340,13.0,38,0,18
111,Organic Avocado (Spread),Breakfast,90,8.0,5,4,1
112,Seasonal Fruit Blend,Breakfast,90,0.0,24,4,1

In [238]:
# Add Restaurant ID Column to the data frame

starbucks_food_df['Restaurant ID'] = 3000
starbucks_food_df.head()

,Unnamed: 0,Category,Calories,Fat (g),Carb. (g),Fiber (g),Protein (g),Restaurant ID
0,Chonga Bagel,Breakfast,300,5.0,50,3,12,3000
1,8-Grain Roll,Breakfast,380,6.0,70,7,10,3000
2,Almond Croissant,Breakfast,410,22.0,45,3,10,3000
3,Apple Fritter,Breakfast,460,23.0,56,2,7,3000
4,Banana Nut Bread,Breakfast,420,22.0,52,2,6,3000

In [239]:
# Rename columns
starbucks_food_df = starbucks_food_df.rename(columns={'Unnamed: 0':'Item',
                                                      ' Calories':'Calories',
                                                      ' Fat (g)':'Total Fat (g)',
                                                      ' Carb. (g)':'Carbohydrates (g)',
                                                      ' Fiber (g)':'Dietary Fiber (g)',
                                                      ' Protein (g)':'Protein (g)'})
starbucks_food_df.head()

,Item,Category,Calories,Total Fat (g),Carbohydrates (g),Dietary Fiber (g),Protein (g),Restaurant ID
0,Chonga Bagel,Breakfast,300,5.0,50,3,12,3000
1,8-Grain Roll,Breakfast,380,6.0,70,7,10,3000
2,Almond Croissant,Breakfast,410,22.0,45,3,10,3000
3,Apple Fritter,Breakfast,460,23.0,56,2,7,3000
4,Banana Nut Bread,Breakfast,420,22.0,52,2,6,3000

In [240]:
#Re-order columns 

starbucks_food_df = starbucks_food_df[['Restaurant ID', 'Category', 'Item', 'Calories',
                                       'Total Fat (g)', 'Carbohydrates (g)', 'Dietary Fiber (g)', 'Protein (g)']]
                
starbucks_food_df.head()

,Restaurant ID,Category,Item,Calories,Total Fat (g),Carbohydrates (g),Dietary Fiber (g),Protein (g)
0,3000,Breakfast,Chonga Bagel,300,5.0,50,3,12
1,3000,Breakfast,8-Grain Roll,380,6.0,70,7,10
2,3000,Breakfast,Almond Croissant,410,22.0,45,3,10
3,3000,Breakfast,Apple Fritter,460,23.0,56,2,7
4,3000,Breakfast,Banana Nut Bread,420,22.0,52,2,6

## Unification Process

In [241]:
# Concatenate Subway and McDonalds data frames

combined_df = pd.concat([mcdonalds_df, subway_df])

# Display the new data frame

combined_df

,Restaurant ID,Category ID,Item ID,Category,Item,Serving Size (oz),Calories,Calories from Fat,Total Fat (g),Total Fat (% Daily Value),...,Carbohydrates (g),Carbohydrates (% Daily Value),Dietary Fiber (g),Dietary Fiber (% Daily Value),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,1000,1.0,1.0,Breakfast,Egg McMuffin,4.800000,300,120.0,13.0,20.0,...,31,10.0,4,17.0,3,17,10,0,25,15
1,1000,1.0,1.0,Breakfast,Egg White Delight,4.800000,250,70.0,8.0,12.0,...,30,10.0,4,17.0,3,18,6,0,25,8
2,1000,1.0,1.0,Breakfast,Sausage McMuffin,3.900000,370,200.0,23.0,35.0,...,29,10.0,4,17.0,2,14,8,0,25,10
3,1000,1.0,1.0,Breakfast,Sausage McMuffin with Egg,5.700000,450,250.0,28.0,43.0,...,30,10.0,4,17.0,2,21,15,0,30,15
4,1000,1.0,1.0,Breakfast,Sausage McMuffin with Egg Whites,5.700000,400,210.0,23.0,35.0,...,30,10.0,4,17.0,2,21,6,0,25,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2000,NaN,NaN,Veggies,Red Onions-Veggies,0.246918,0,NaN,0.0,NaN,...,1,NaN,0,NaN,0,0,0,0,0,0
131,2000,NaN,NaN,Veggies,Spinach-Veggies,0.246918,0,NaN,0.0,NaN,...,0,NaN,0,NaN,0,0,15,2,0,0
132,2000,NaN,NaN,Veggies,Tomatoes-Veggies,1.234590,5,NaN,0.0,NaN,...,1,NaN,0,NaN,1,0,10,4,0,0
133,2000,NaN,NaN,Protein,Bacon-Protein,0.529110,70,NaN,6.0,NaN,...,1,NaN,0,NaN,1,5,0,6,0,0
134,2000,NaN,NaN,Seasonings,Parmesan Cheese-Seasonings,0.035274,5,NaN,0.0,NaN,...,0,NaN,0,NaN,0,1,0,0,0,0

In [242]:
# Add Starbucks Drink data fram to the Combined data frame

combined_df = pd.concat([combined_df, starbucks_drinks_df])
combined_df

,Restaurant ID,Category ID,Item ID,Category,Item,Serving Size (oz),Calories,Calories from Fat,Total Fat (g),Total Fat (% Daily Value),...,Carbohydrates (g),Carbohydrates (% Daily Value),Dietary Fiber (g),Dietary Fiber (% Daily Value),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,1000,1.0,1.0,Breakfast,Egg McMuffin,4.8,300,120.0,13,20.0,...,31,10.0,4,17.0,3,17.0,10,0,25,15
1,1000,1.0,1.0,Breakfast,Egg White Delight,4.8,250,70.0,8,12.0,...,30,10.0,4,17.0,3,18.0,6,0,25,8
2,1000,1.0,1.0,Breakfast,Sausage McMuffin,3.9,370,200.0,23,35.0,...,29,10.0,4,17.0,2,14.0,8,0,25,10
3,1000,1.0,1.0,Breakfast,Sausage McMuffin with Egg,5.7,450,250.0,28,43.0,...,30,10.0,4,17.0,2,21.0,15,0,30,15
4,1000,1.0,1.0,Breakfast,Sausage McMuffin with Egg Whites,5.7,400,210.0,23,35.0,...,30,10.0,4,17.0,2,21.0,6,0,25,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,3000,NaN,NaN,Frappuccino® Blended Crème,Strawberries & Crème (Without Whipped Cream)-V...,NaN,320,NaN,3 2,NaN,...,250,NaN,1,NaN,64,5.0,6,8,20,10
238,3000,NaN,NaN,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream)-Tall Nonf...,NaN,170,NaN,0.1,NaN,...,160,NaN,0,NaN,38,4.0,6,0,10,0
239,3000,NaN,NaN,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream)-Tall Who...,NaN,200,NaN,3.5,NaN,...,160,NaN,0,NaN,38,3.0,6,0,10,0
240,3000,NaN,NaN,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream)-Tall Soymilk,NaN,180,NaN,1.5,NaN,...,160,NaN,1,NaN,35,3.0,4,0,10,6
241,3000,NaN,NaN,Frappuccino® Blended Crème,Vanilla Bean (Without Whipped Cream)-Grande No...,NaN,240,NaN,0.1,NaN,...,230,NaN,0,NaN,55,5.0,8,0,15,0

In [243]:
# Add Starbucks Food data fram to the Combined data frame

combined_df = pd.concat([combined_df, starbucks_food_df])
combined_df

,Restaurant ID,Category ID,Item ID,Category,Item,Serving Size (oz),Calories,Calories from Fat,Total Fat (g),Total Fat (% Daily Value),...,Carbohydrates (g),Carbohydrates (% Daily Value),Dietary Fiber (g),Dietary Fiber (% Daily Value),Sugars (g),Protein (g),Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,1000,1.0,1.0,Breakfast,Egg McMuffin,4.8,300,120.0,13,20.0,...,31,10.0,4,17.0,3.0,17.0,10.0,0.0,25.0,15.0
1,1000,1.0,1.0,Breakfast,Egg White Delight,4.8,250,70.0,8,12.0,...,30,10.0,4,17.0,3.0,18.0,6.0,0.0,25.0,8.0
2,1000,1.0,1.0,Breakfast,Sausage McMuffin,3.9,370,200.0,23,35.0,...,29,10.0,4,17.0,2.0,14.0,8.0,0.0,25.0,10.0
3,1000,1.0,1.0,Breakfast,Sausage McMuffin with Egg,5.7,450,250.0,28,43.0,...,30,10.0,4,17.0,2.0,21.0,15.0,0.0,30.0,15.0
4,1000,1.0,1.0,Breakfast,Sausage McMuffin with Egg Whites,5.7,400,210.0,23,35.0,...,30,10.0,4,17.0,2.0,21.0,6.0,0.0,25.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,3000,NaN,NaN,Other Food,Justin's Chocolate Hazelnut Butter,NaN,180,NaN,14,NaN,...,12,NaN,3,NaN,NaN,4.0,NaN,NaN,NaN,NaN
109,3000,NaN,NaN,Other Food,Justin's Classic Almond Butter,NaN,190,NaN,18,NaN,...,6,NaN,3,NaN,NaN,7.0,NaN,NaN,NaN,NaN
110,3000,NaN,NaN,Breakfast,Lemon Chiffon Yogurt,NaN,340,NaN,13,NaN,...,38,NaN,0,NaN,NaN,18.0,NaN,NaN,NaN,NaN
111,3000,NaN,NaN,Breakfast,Organic Avocado (Spread),NaN,90,NaN,8,NaN,...,5,NaN,4,NaN,NaN,1.0,NaN,NaN,NaN,NaN
112,3000,NaN,NaN,Breakfast,Seasonal Fruit Blend,NaN,90,NaN,0,NaN,...,24,NaN,4,NaN,NaN,1.0,NaN,NaN,NaN,NaN

In [244]:
# Lower case the column names

combined_df.columns= combined_df.columns.str.lower()

In [245]:
# Convert whole dataframe in lower case
combined_df = combined_df.apply(lambda x: x.astype(str).str.lower())

# Stripping accents and special characters

In [246]:
# Testing replacing special characters
# df=pd.DataFrame({'a': ['Bee®'], 'b': [3]})
# df

In [247]:
# Testing replacing special characters
# df = df.replace({'a': {'®': ''}}, regex=True)
#df

In [248]:
# Replace accute é symbols in the item column
# McDonalds: showing up for frappe drinks in Numbers, not Excel

combined_df = combined_df.replace({'item': {'é': 'e'}}, regex=True)

In [249]:
# Replace √± symbols in the item column
# McDonalds: showing up for jalapenos in Excel, not Numbers
# Subway: showing up for jalapenos in Excel, not Numbers

combined_df = combined_df.replace({'item': {'√±': 'n'}}, regex=True)

In [250]:
# Replace ñ symbols in the item column 
# McDonalds: showing up for jalapenos in Numbers, not Excel
# Subway: showing up for jalapenos in Numbers, not Excel

combined_df = combined_df.replace({'item': {'ñ': 'n'}}, regex=True)

In [251]:
# Replace √© symbols in the item column
# McDonalds: showing up for frappucinos in Excel, not Numbers

combined_df = combined_df.replace({'item': {'√©': ''}}, regex=True)

In [252]:
# Replace ® symbols inthe item column
# Subway: showing up for multiple sandwiches in Numbers, not Excel

combined_df = combined_df.replace({'item': {'®': ''}}, regex=True)

In [253]:
# Replace ¬Æ symbols in the item column 
# Subway: showing up for multiple sandwiches in Excel, not Numbers
# Starbucks drinks: showing up for Tazo drinks in Excel, not Numbers
# Starbucks food: showing up for frapuccino cookie straw Excel, not Numbers

combined_df = combined_df.replace({'item': {'¬Æ': ''}}, regex=True)

In [254]:
# Replace ® symbols in the category column
# Subway: showing up for multiple sandwiches in Numbers, not Excel
# Starbucks drinks: showing up for tazo & frappucino drinks in Numbers, not Excel
# Starbucks food: showing up for frapuccino cookie straw in Numbers, not Excel

combined_df = combined_df.replace({'category': {'®': ''}}, regex=True)

In [255]:
# Replace ¬Æ symbols in the category column
# Starbucks drinks: showing up for Tazo & Frappucinos, showing up in Excel, not Numbers

combined_df = combined_df.replace({'category': {'¬Æ': ''}}, regex=True)

In [256]:
# Replace √® symbols in the category column 
# Starbucks drinks: showing up for caffe & creme drinks in Excel, not Numbers

combined_df = combined_df.replace({'category': {'√®': 'e'}}, regex=True)

In [257]:
# Replace ® symbols inthe item column
# Starbucks drinks: showing up for tazo drinks in Numbers, not Excel

combined_df = combined_df.replace({'item': {'®': ''}}, regex=True)

In [258]:
# Replace the grave è symbols in the item column
# Starbucks drinks: showing up for caffe & creme drinks in Numbers, not Excel

combined_df = combined_df.replace({'item': {'è': 'e'}}, regex=True)

In [259]:
# Replace the grave è symbols in the category column
# Starbucks drinks: showing up for frappuccino blended creme drinks in Numbers, not Excel

combined_df = combined_df.replace({'category': {'è': 'e'}}, regex=True)

In [260]:
# Replace ‚Ñ¢ symbols in the item column
# Starbucks food: showing up for the volpi pepperoni & tomato foldover in Excel, not Numbers)

combined_df = combined_df.replace({'item': {'‚Ñ¢': ''}}, regex=True)

In [261]:
# Replace ™ symbols in the itemcolumn (showing up in Excel)
# Starbucks food: showing up for the volpi pepperoni & tomato foldover in Numbers, not Excel)

combined_df = combined_df.replace({'item': {'™': ''}}, regex=True)

In [262]:
# Replace **- symbols in the item column
# Subway: showing up for multiple sandwiches in Excel, not Numbers

combined_df = combined_df.replace({'item': {'\**-': ' '}}, regex=True)

### Create ID For New Tables

In [263]:
# Create the ID numbers for the items

item_dict = {item_name:item_id for item_name, item_id in list(zip(combined_df.item.unique(), range(0, combined_df.shape[0])))}

In [264]:
# Store item_dict into a data frame
item_id_df = pd.DataFrame(list(item_dict.items()),columns = ['item','id'])

# Display the new data frame
item_id_df

                                   item   id
0                          egg mcmuffin    0
1                     egg white delight    1
2                      sausage mcmuffin    2
3             sausage mcmuffin with egg    3
4      sausage mcmuffin with egg whites    4
..                                  ...  ...
745  justin's chocolate hazelnut butter  745
746      justin's classic almond butter  746
747                lemon chiffon yogurt  747
748            organic avocado (spread)  748
749                seasonal fruit blend  749

[750 rows x 2 columns]

In [265]:
item_id_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   item    750 non-null    object
 1   id      750 non-null    int64
dtypes: int64(1), object(1)
memory usage: 11.8+ KB

In [266]:
# Export data frame to csv file
item_id_df.to_csv('database/menu_items.csv', index = False, header=True)

In [267]:
# Add the new Item IDs to the combined_df
combined_df['item id'] = combined_df['item'].map(item_dict)
combined_df.head()

,restaurant id,category id,item id,category,item,serving size (oz),calories,calories from fat,total fat (g),total fat (% daily value),...,carbohydrates (g),carbohydrates (% daily value),dietary fiber (g),dietary fiber (% daily value),sugars (g),protein (g),vitamin a (% daily value),vitamin c (% daily value),calcium (% daily value),iron (% daily value)
0,1000,1.0,0,breakfast,egg mcmuffin,4.8,300,120.0,13.0,20.0,...,31,10.0,4,17.0,3.0,17.0,10.0,0.0,25.0,15.0
1,1000,1.0,1,breakfast,egg white delight,4.8,250,70.0,8.0,12.0,...,30,10.0,4,17.0,3.0,18.0,6.0,0.0,25.0,8.0
2,1000,1.0,2,breakfast,sausage mcmuffin,3.9,370,200.0,23.0,35.0,...,29,10.0,4,17.0,2.0,14.0,8.0,0.0,25.0,10.0
3,1000,1.0,3,breakfast,sausage mcmuffin with egg,5.7,450,250.0,28.0,43.0,...,30,10.0,4,17.0,2.0,21.0,15.0,0.0,30.0,15.0
4,1000,1.0,4,breakfast,sausage mcmuffin with egg whites,5.7,400,210.0,23.0,35.0,...,30,10.0,4,17.0,2.0,21.0,6.0,0.0,25.0,10.0

In [268]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 750 entries, 0 to 112
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   restaurant id                  750 non-null    object
 1   category id                    750 non-null    object
 2   item id                        750 non-null    int64
 3   category                       750 non-null    object
 4   item                           750 non-null    object
 5   serving size (oz)              750 non-null    object
 6   calories                       750 non-null    object
 7   calories from fat              750 non-null    object
 8   total fat (g)                  750 non-null    object
 9   total fat (% daily value)      750 non-null    object
 10  saturated fat (g)              750 non-null    object
 11  saturated fat (% daily value)  750 non-null    object
 12  trans fat (g)                  750 non-null    object
 13  cholesterol (mg)               750 non-null    object
 14  cholesterol (% daily value)    750 non-null    object
 15  sodium (mg)                    750 non-null    object
 16  sodium (% daily value)         750 non-null    object
 17  carbohydrates (g)              750 non-null    object
 18  carbohydrates (% daily value)  750 non-null    object
 19  dietary fiber (g)              750 non-null    object
 20  dietary fiber (% daily value)  750 non-null    object
 21  sugars (g)                     750 non-null    object
 22  protein (g)                    750 non-null    object
 23  vitamin a (% daily value)      750 non-null    object
 24  vitamin c (% daily value)      750 non-null    object
 25  calcium (% daily value)        750 non-null    object
 26  iron (% daily value)           750 non-null    object
dtypes: int64(1), object(26)
memory usage: 164.1+ KB

## Pairing down the number of food categories

In [269]:
# Viewing food categories
combined_df[('category')].unique()

array(['breakfast', 'beef & pork', 'chicken & fish', 'salads',
       'snacks & sides', 'desserts', 'beverages', 'coffee & tea',
       'smoothies & shakes', 'sandwich', 'salad', 'extra', 'wrap',
       'bread', 'cheese', 'extras', 'sauces', 'veggies', 'protein',
       'seasonings', 'coffee', 'classic espresso drinks',
       'signature espresso drinks', 'tazo tea drinks',
       'shaken iced beverages', 'smoothies', 'frappuccino blended coffee',
       'frappuccino light blended coffee', 'frappuccino blended creme',
       'desert', 'other food'], dtype=object)

In [270]:
# Re-categorizing all drinks as "beverages"
# Re-categorizing bread, sauces, veggie toppings, etc. as "bread & toppings"
# Re-categorizing beef & pork as "beef & pork Sandwiches/Wraps"
# Re-categorizing poultry & fish as "poultry & fish sandwiches/wraps"
# Fixing "desert" as "desserts"

combined_recat = combined_df.replace(
    {"smoothies & shakes": "beverages", "coffee": "beverages", "classic espresso drinks": "beverages", 
     "signature espresso drinks":"beverages", "tazo tea drinks": "beverages", "shaken iced beverages": "beverages",
     "smoothies": "beverages", "frappuccino blended coffee": "beverages", "coffee & tea": "beverages",
     "frappuccino light blended coffee": "beverages", "frappuccino blended creme": "beverages", 
     "bread": "bread & toppings", "cheese": "bread & toppings", "extra": "bread & toppings", 
     "extras": "bread & toppings", "sauces": "bread & toppings", "veggies": "bread & toppings", 
     "protein": "bread & toppings", "seasonings": "bread & toppings", 
     "beef & pork": "beef & pork sandwich/wraps", "chicken & fish": "poultry & fish sandwich/wraps",
     "salad": "salads", "desert": "desserts"})

In [271]:
# Viewing unique food categories afer replace
combined_recat[('category')].unique()

array(['breakfast', 'beef & pork sandwich/wraps',
       'poultry & fish sandwich/wraps', 'salads', 'snacks & sides',
       'desserts', 'beverages', 'sandwich', 'bread & toppings', 'wrap',
       'other food'], dtype=object)

## McDonald's individual cases that need to be re-categorized

In [272]:
# Re-categorizing individual cases (changing chicken wraps from "sides & snacks" to sandwiches/wraps)
combined_recat.loc[combined_recat['item id'] == 90, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 91, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 92, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 93, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 94, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 95, 'category'] = "poultry & fish sandwich/wraps"

In [273]:
# Re-categorizing individual cases (changing side sald from "sides & snacks" to salads)
combined_recat.loc[combined_recat['item id'] == 100, 'category'] = "salads"

In [274]:
# Re-categorizing individual cases (changing yogurt/parfait from "sides & snacks" to breakfast)
combined_recat.loc[combined_recat['item id'] == 102, 'category'] = "breakfast"

## Subway individual cases that need to be re-categorized

In [275]:
# Re-categorizing individual cases (changing relevant "sandwich"es to "beef & pork sandwich/wraps")
combined_recat.loc[combined_recat['item id'] == 260, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 261, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 267, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 268, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 269, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 270, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 271, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 272, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 273, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 276, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 277, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 276, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 280, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 282, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 283, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 288, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 289, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 289, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 326, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 327, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 329, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 330, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 332, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 333, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 336, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 339, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 340, 'category'] = "beef & pork sandwich/wraps"

In [276]:
# Re-categorizing individual cases (changing releveant "sandwich"es to "poultry & fish sandwich/wraps")
combined_recat.loc[combined_recat['item id'] == 262 , 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 263, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 264, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 265, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 266, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 274, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 275, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 278, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 281, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 284, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 285, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 286, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 287, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 328, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 335, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 337, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 338, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 341, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 342, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 343, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 344, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 732, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 734, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 735, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 736, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 737, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 738, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 741, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 742, 'category'] = "poultry & fish sandwich/wraps"

In [277]:
# Re-categorizing individual cases (changing relevant "sandwich"es to "veggie sandwich/wraps")
combined_recat.loc[combined_recat['item id'] == 279, 'category'] = "veggie sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 290, 'category'] = "veggie sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 331, 'category'] = "veggie sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 334, 'category'] = "veggie sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 345, 'category'] = "veggie sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 705, 'category'] = "veggie sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 740, 'category'] = "veggie sandwich/wraps"

In [278]:
# Re-categorizing individual cases (changing relevant "extra"s to "desserts")
combined_recat.loc[combined_recat['item id'] == 314, 'category'] = "desserts"
combined_recat.loc[combined_recat['item id'] == 315, 'category'] = "desserts"
combined_recat.loc[combined_recat['item id'] == 316, 'category'] = "desserts"
combined_recat.loc[combined_recat['item id'] == 317, 'category'] = "desserts"
combined_recat.loc[combined_recat['item id'] == 318, 'category'] = "desserts"
combined_recat.loc[combined_recat['item id'] == 319, 'category'] = "desserts"
combined_recat.loc[combined_recat['item id'] == 320, 'category'] = "desserts"
combined_recat.loc[combined_recat['item id'] == 322, 'category'] = "desserts"
combined_recat.loc[combined_recat['item id'] == 323, 'category'] = "desserts"
combined_recat.loc[combined_recat['item id'] == 324, 'category'] = "desserts"
combined_recat.loc[combined_recat['item id'] == 325, 'category'] = "desserts"

## Starbucks individual cases that need to be re-categorized

In [279]:
# Re-categorizing individual cases (changing relevant "other food" to "sandwich/wraps")
combined_recat.loc[combined_recat['item id'] == 690, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 691, 'category'] = "veggie sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 692, 'category'] = "veggie sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 695, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 699, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 700, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 702, 'category'] = "poultry & fish sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 703, 'category'] = "beef & pork sandwich/wraps"
combined_recat.loc[combined_recat['item id'] == 704, 'category'] = "beef & pork sandwich/wraps"

In [280]:
# Re-categorizing individual cases (changing relevant "other food" to "salads")
combined_recat.loc[combined_recat['item id'] == 693, 'category'] = "salads"
combined_recat.loc[combined_recat['item id'] == 694, 'category'] = "salads"
combined_recat.loc[combined_recat['item id'] == 697, 'category'] = "salads"
combined_recat.loc[combined_recat['item id'] == 698, 'category'] = "salads"
combined_recat.loc[combined_recat['item id'] == 701, 'category'] = "salads"
combined_recat.loc[combined_recat['item id'] == 706, 'category'] = "salads"
combined_recat.loc[combined_recat['item id'] == 707, 'category'] = "salads"

In [281]:
# Re-categorizing individual cases (changing relevant "other food" to "bread & toppings")
combined_recat.loc[combined_recat['item id'] == 745, 'category'] = "bread & toppings"
combined_recat.loc[combined_recat['item id'] == 746, 'category'] = "bread & toppings"

In [282]:
# Final check of unique food categories
combined_recat[('category')].unique()

array(['breakfast', 'beef & pork sandwich/wraps',
       'poultry & fish sandwich/wraps', 'salads', 'snacks & sides',
       'desserts', 'beverages', 'veggie sandwich/wraps',
       'bread & toppings', 'other food'], dtype=object)

In [283]:
# Export data frame to csv file

combined_recat.to_csv('database/combined_df.csv', index = False, header=True)

In [284]:
combined_recat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 750 entries, 0 to 112
Data columns (total 27 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   restaurant id                  750 non-null    object
 1   category id                    750 non-null    object
 2   item id                        750 non-null    int64
 3   category                       750 non-null    object
 4   item                           750 non-null    object
 5   serving size (oz)              750 non-null    object
 6   calories                       750 non-null    object
 7   calories from fat              750 non-null    object
 8   total fat (g)                  750 non-null    object
 9   total fat (% daily value)      750 non-null    object
 10  saturated fat (g)              750 non-null    object
 11  saturated fat (% daily value)  750 non-null    object
 12  trans fat (g)                  750 non-null    object
 13  cholesterol (mg)               750 non-null    object
 14  cholesterol (% daily value)    750 non-null    object
 15  sodium (mg)                    750 non-null    object
 16  sodium (% daily value)         750 non-null    object
 17  carbohydrates (g)              750 non-null    object
 18  carbohydrates (% daily value)  750 non-null    object
 19  dietary fiber (g)              750 non-null    object
 20  dietary fiber (% daily value)  750 non-null    object
 21  sugars (g)                     750 non-null    object
 22  protein (g)                    750 non-null    object
 23  vitamin a (% daily value)      750 non-null    object
 24  vitamin c (% daily value)      750 non-null    object
 25  calcium (% daily value)        750 non-null    object
 26  iron (% daily value)           750 non-null    object
dtypes: int64(1), object(26)
memory usage: 164.1+ KB

In [285]:
# Create the ID numbers for the categories

category_dict = {category_name:category_id for category_name, category_id in list(zip(combined_recat.category.unique(), range(100, combined_recat.shape[0])))}

In [286]:
# Store category_dict into a data frame
category_id_df = pd.DataFrame(list(category_dict.items()),columns = ['category','id'])

# Display the new data frame
category_id_df.head()

                        category   id
0                      breakfast  100
1     beef & pork sandwich/wraps  101
2  poultry & fish sandwich/wraps  102
3                         salads  103
4                 snacks & sides  104

In [287]:
# Add the new Category IDs to the combined_df
combined_recat['category id'] = combined_recat['category'].map(category_dict)
combined_recat

,restaurant id,category id,item id,category,item,serving size (oz),calories,calories from fat,total fat (g),total fat (% daily value),...,carbohydrates (g),carbohydrates (% daily value),dietary fiber (g),dietary fiber (% daily value),sugars (g),protein (g),vitamin a (% daily value),vitamin c (% daily value),calcium (% daily value),iron (% daily value)
0,1000,100,0,breakfast,egg mcmuffin,4.8,300,120.0,13.0,20.0,...,31,10.0,4,17.0,3.0,17.0,10.0,0.0,25.0,15.0
1,1000,100,1,breakfast,egg white delight,4.8,250,70.0,8.0,12.0,...,30,10.0,4,17.0,3.0,18.0,6.0,0.0,25.0,8.0
2,1000,100,2,breakfast,sausage mcmuffin,3.9,370,200.0,23.0,35.0,...,29,10.0,4,17.0,2.0,14.0,8.0,0.0,25.0,10.0
3,1000,100,3,breakfast,sausage mcmuffin with egg,5.7,450,250.0,28.0,43.0,...,30,10.0,4,17.0,2.0,21.0,15.0,0.0,30.0,15.0
4,1000,100,4,breakfast,sausage mcmuffin with egg whites,5.7,400,210.0,23.0,35.0,...,30,10.0,4,17.0,2.0,21.0,6.0,0.0,25.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,3000,108,745,bread & toppings,justin's chocolate hazelnut butter,nan,180,nan,14.0,nan,...,12,nan,3,nan,nan,4.0,nan,nan,nan,nan
109,3000,108,746,bread & toppings,justin's classic almond butter,nan,190,nan,18.0,nan,...,6,nan,3,nan,nan,7.0,nan,nan,nan,nan
110,3000,100,747,breakfast,lemon chiffon yogurt,nan,340,nan,13.0,nan,...,38,nan,0,nan,nan,18.0,nan,nan,nan,nan
111,3000,100,748,breakfast,organic avocado (spread),nan,90,nan,8.0,nan,...,5,nan,4,nan,nan,1.0,nan,nan,nan,nan
112,3000,100,749,breakfast,seasonal fruit blend,nan,90,nan,0.0,nan,...,24,nan,4,nan,nan,1.0,nan,nan,nan,nan

In [288]:
# Export data frame to csv file

category_id_df.to_csv('database/categories.csv', index = False, header=True)

In [289]:
# Drop VARCHAR columns

clean_combined_df = combined_recat.drop(columns=['category', 'item'])
clean_combined_df

,restaurant id,category id,item id,serving size (oz),calories,calories from fat,total fat (g),total fat (% daily value),saturated fat (g),saturated fat (% daily value),...,carbohydrates (g),carbohydrates (% daily value),dietary fiber (g),dietary fiber (% daily value),sugars (g),protein (g),vitamin a (% daily value),vitamin c (% daily value),calcium (% daily value),iron (% daily value)
0,1000,100,0,4.8,300,120.0,13.0,20.0,5.0,25.0,...,31,10.0,4,17.0,3.0,17.0,10.0,0.0,25.0,15.0
1,1000,100,1,4.8,250,70.0,8.0,12.0,3.0,15.0,...,30,10.0,4,17.0,3.0,18.0,6.0,0.0,25.0,8.0
2,1000,100,2,3.9,370,200.0,23.0,35.0,8.0,42.0,...,29,10.0,4,17.0,2.0,14.0,8.0,0.0,25.0,10.0
3,1000,100,3,5.7,450,250.0,28.0,43.0,10.0,52.0,...,30,10.0,4,17.0,2.0,21.0,15.0,0.0,30.0,15.0
4,1000,100,4,5.7,400,210.0,23.0,35.0,8.0,42.0,...,30,10.0,4,17.0,2.0,21.0,6.0,0.0,25.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,3000,108,745,nan,180,nan,14.0,nan,nan,nan,...,12,nan,3,nan,nan,4.0,nan,nan,nan,nan
109,3000,108,746,nan,190,nan,18.0,nan,nan,nan,...,6,nan,3,nan,nan,7.0,nan,nan,nan,nan
110,3000,100,747,nan,340,nan,13.0,nan,nan,nan,...,38,nan,0,nan,nan,18.0,nan,nan,nan,nan
111,3000,100,748,nan,90,nan,8.0,nan,nan,nan,...,5,nan,4,nan,nan,1.0,nan,nan,nan,nan
112,3000,100,749,nan,90,nan,0.0,nan,nan,nan,...,24,nan,4,nan,nan,1.0,nan,nan,nan,nan

In [290]:
clean_combined_df.columns

Index(['restaurant id', 'category id', 'item id', 'serving size (oz)',
       'calories', 'calories from fat', 'total fat (g)',
       'total fat (% daily value)', 'saturated fat (g)',
       'saturated fat (% daily value)', 'trans fat (g)', 'cholesterol (mg)',
       'cholesterol (% daily value)', 'sodium (mg)', 'sodium (% daily value)',
       'carbohydrates (g)', 'carbohydrates (% daily value)',
       'dietary fiber (g)', 'dietary fiber (% daily value)', 'sugars (g)',
       'protein (g)', 'vitamin a (% daily value)', 'vitamin c (% daily value)',
       'calcium (% daily value)', 'iron (% daily value)'],
      dtype='object')

In [291]:
# Rename the columns
clean_combined_df = clean_combined_df.rename(columns = {
    'restaurant id':'restaurant_id', 'category id':'category_id', 'item id':'item_id', 
    'serving size (oz)':'serving_size_oz', 'calories':'calories_g', 'calories from fat':'calories_from_fat',
    'total fat (g)':'total_fat_g', 'total fat (% daily value)':'total_fat_per_dv', 
    'saturated fat (g)':'saturated_fat_g', 'saturated fat (% daily value)':'saturated_fat_per_dv',
    'trans fat (g)':'trans_fat_g', 'cholesterol (mg)':'cholesterol_mg', 
    'cholesterol (% daily value)':'cholesterol_per_dv', 'sodium (mg)':'sodium_mg', 
    'sodium (% daily value)':'sodium_per_dv', 'carbohydrates (g)':'carbohydrates_g',
    'carbohydrates (% daily value)':'carbohydrates_per_dv', 'dietary fiber (g)':'dietary_fiber_g',
    'dietary fiber (% daily value)':'dietary_fiber_per_dv', 'sugars (g)':'sugars_g', 'protein (g)':'protein_g',
    'vitamin a (% daily value)':'vitamin_a_per_dv','vitamin c (% daily value)':'vitamin_c_per_dv',
    'calcium (% daily value)':'calcium_per_dv', 'iron (% daily value)':'iron_per_dv'
})

In [292]:
# Export data frame to csv file

clean_combined_df.to_csv('database/nutrition.csv', index = False, header=True)

# Test code for dropping nans for import into postgres

In [193]:
clean_combined_df.dropna()

,restaurant_id,category_id,item_id,serving_size_oz,calories_g,calories_from_fat,total_fat_g,total_fat_per_dv,saturated_fat_g,saturated_fat_per_dv,...,carbohydrates_g,carbohydrates_per_dv,dietary_fiber_g,dietary_fiber_per_dv,sugars_g,protein_g,vitamin_a_per_dv,vitamin_c_per_dv,calcium_per_dv,iron_per_dv
0,1000,100,0,4.8,300,120.0,13.0,20.0,5.0,25.0,...,31,10.0,4,17.0,3.0,17.0,10.0,0.0,25.0,15.0
1,1000,100,1,4.8,250,70.0,8.0,12.0,3.0,15.0,...,30,10.0,4,17.0,3.0,18.0,6.0,0.0,25.0,8.0
2,1000,100,2,3.9,370,200.0,23.0,35.0,8.0,42.0,...,29,10.0,4,17.0,2.0,14.0,8.0,0.0,25.0,10.0
3,1000,100,3,5.7,450,250.0,28.0,43.0,10.0,52.0,...,30,10.0,4,17.0,2.0,21.0,15.0,0.0,30.0,15.0
4,1000,100,4,5.7,400,210.0,23.0,35.0,8.0,42.0,...,30,10.0,4,17.0,2.0,21.0,6.0,0.0,25.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,3000,108,745,nan,180,nan,14.0,nan,nan,nan,...,12,nan,3,nan,nan,4.0,nan,nan,nan,nan
109,3000,108,746,nan,190,nan,18.0,nan,nan,nan,...,6,nan,3,nan,nan,7.0,nan,nan,nan,nan
110,3000,100,747,nan,340,nan,13.0,nan,nan,nan,...,38,nan,0,nan,nan,18.0,nan,nan,nan,nan
111,3000,100,748,nan,90,nan,8.0,nan,nan,nan,...,5,nan,4,nan,nan,1.0,nan,nan,nan,nan
112,3000,100,749,nan,90,nan,0.0,nan,nan,nan,...,24,nan,4,nan,nan,1.0,nan,nan,nan,nan

In [198]:
clean_combined_df.fillna(0)

,restaurant_id,category_id,item_id,serving_size_oz,calories_g,calories_from_fat,total_fat_g,total_fat_per_dv,saturated_fat_g,saturated_fat_per_dv,...,carbohydrates_g,carbohydrates_per_dv,dietary_fiber_g,dietary_fiber_per_dv,sugars_g,protein_g,vitamin_a_per_dv,vitamin_c_per_dv,calcium_per_dv,iron_per_dv
0,1000,100,0,4.8,300,120.0,13.0,20.0,5.0,25.0,...,31,10.0,4,17.0,3.0,17.0,10.0,0.0,25.0,15.0
1,1000,100,1,4.8,250,70.0,8.0,12.0,3.0,15.0,...,30,10.0,4,17.0,3.0,18.0,6.0,0.0,25.0,8.0
2,1000,100,2,3.9,370,200.0,23.0,35.0,8.0,42.0,...,29,10.0,4,17.0,2.0,14.0,8.0,0.0,25.0,10.0
3,1000,100,3,5.7,450,250.0,28.0,43.0,10.0,52.0,...,30,10.0,4,17.0,2.0,21.0,15.0,0.0,30.0,15.0
4,1000,100,4,5.7,400,210.0,23.0,35.0,8.0,42.0,...,30,10.0,4,17.0,2.0,21.0,6.0,0.0,25.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,3000,108,745,nan,180,nan,14.0,nan,nan,nan,...,12,nan,3,nan,nan,4.0,nan,nan,nan,nan
109,3000,108,746,nan,190,nan,18.0,nan,nan,nan,...,6,nan,3,nan,nan,7.0,nan,nan,nan,nan
110,3000,100,747,nan,340,nan,13.0,nan,nan,nan,...,38,nan,0,nan,nan,18.0,nan,nan,nan,nan
111,3000,100,748,nan,90,nan,8.0,nan,nan,nan,...,5,nan,4,nan,nan,1.0,nan,nan,nan,nan
112,3000,100,749,nan,90,nan,0.0,nan,nan,nan,...,24,nan,4,nan,nan,1.0,nan,nan,nan,nan

In [94]:
# Export data frame to csv file
clean_combined_df.to_csv('database/nutrition.csv', index = False, header=True)